
APIBaseCamp/.vs/APIBaseCamp/v16/.suo
APIBaseCamp/.vs/APIBaseCamp/v16/Server/sqlite3/db.lock
APIBaseCamp/.vs/APIBaseCamp/v16/Server/sqlite3/storage.ide
APIBaseCamp/.vs/APIBaseCamp/v16/Server/sqlite3/storage.ide-shm
APIBaseCamp/.vs/APIBaseCamp/v16/Server/sqlite3/storage.ide-wal
